<body>
    <div id="container-creation">
        <h3>Insérer un film</h3>
        <form action="creation" method="post">
            <table id="table-creer">
                <tr>
                    <td><label for="titre">Titre</label></td>
                    <td><label for="annee">Année</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="titre" id="titre" required></td>
                    <td><input type="text" name="annee" id="annee" required></td>
                </tr>
                <br><br>
                <tr>
                    <td><label for="affiche">Affiche</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="affiche" id="affiche" required></td>
                </tr>
                <br><br>
                <tr>
                    <td><label for="real">Réalisateur</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="real" id="real" required></td>
                </tr>
                <br><br>
                <tr>
                    <td><p>Rôles</p></td>
                </tr>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage" required></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom" required></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom" required></td>
                </tr>
                <br>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage"></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom"></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom"></td>
                </tr>
                <br>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage"></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom"></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom"></td>
                </tr>
                <br>
                <tr id="tr-creer">
                    <td id="td-creer">
                        <input type="submit" value="Créer" name="creer" id="creer">
                    </td>
                </tr>
            </table>
        </form>
    </div>

</body>