<body>
    <div id="container-creation">
    <h2 class="text-center">Insérer un film</h2>
    <form action="creation" method="post">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="titre" class="h5">Titre</label>
                        <input type="text" name="titre" id="titre" class="form-control" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="annee" class="h5">Année</label>
                        <input type="text" name="annee" id="annee" class="form-control" required>
                    </div>
                </div>
            </div>

            <div class="form-group mt-4">
                <label for="affiche" class="h5">Affiche</label>
                <input type="text" name="affiche" id="affiche" class="form-control" required>
            </div>

            <div class="form-group mt-4">
                <label for="real" class="h5">Réalisateur</label>
                <input type="text" name="real" id="real" class="form-control" required>
            </div>

            <div class="form-group mt-4">
                <label class="h5">Rôles</label>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="personnage[]" class="form-control" placeholder="Personnage" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="nom[]" class="form-control" placeholder="Nom" required>
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="prenom[]" class="form-control" placeholder="Prénom" required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="personnage[]" class="form-control" placeholder="Personnage">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="nom[]" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="prenom[]" class="form-control" placeholder="Prénom">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" name="personnage[]" class="form-control" placeholder="Personnage">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="nom[]" class="form-control" placeholder="Nom">
                    </div>
                    <div class="col-md-4">
                        <input type="text" name="prenom[]" class="form-control" placeholder="Prénom">
                    </div>
                </div>
            </div>

            <div class="form-group text-center"> 
                <input type="submit" value="Créer" name="creer" class="btn btn-primary mt-4"> 
            </div>
        </div>
    </form>
</div>
</body>