<body>
    <main>
        <form action="creation" method="post">
            <table>
                <tr>
                    <td><label for="titre">Titre</label></td>
                    <td><label for="annee">Année</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="titre" id="titre"></td>
                    <td><input type="text" name="annee" id="annee"></td>
                </tr>
                <br><br>
                <tr>
                    <td><label for="affiche">Affiche</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="affiche" id="affiche"></td>
                </tr>
                <br><br>
                <tr>
                    <td><label for="real">Réalisateur</label></td>
                </tr>
                <tr>
                    <td><input type="text" name="real" id="real"></td>
                </tr>
                <br><br>
                <tr>
                    <td><p>Rôles</p></td>
                </tr>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage"></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom"></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom"></td>
                </tr>
                <br>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage"></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom"></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom"></td>
                </tr>
                <br>
                <tr>
                    <td><input type="text" name="personnage[]" id="personnage" placeholder="Personnage"></td>
                    <td><input type="text" name="nom[]" id="nom" placeholder="Nom"></td>
                    <td><input type="text" name="prenom[]" id="prenom" placeholder="Prénom"></td>
                </tr>
                <br>
                <tr>
                    <td>
                        <input type="submit" value="Créer" name="creer">
                    </td>
                </tr>
            </table>
        </form>
    </main>

</body>