<main>
<h2>Créer un compte : </h2> <br>
<div>
	<form action="creer_compte" method='POST'>
		<table>
			<tr>
				<td><label for="email">Votre Email : </label></td>
				<td><input type="text" name="email" id="email" required></td>
			</tr>
			<tr>
				<td><label for="password">Nouveau mot de passe : </label></td>
				<td><input type="password" name="password" id="password" required></td>
			</tr>
			<tr>
				<td><input type="submit" name="creerCompte" id="input" value="Creer un compte"></td>
			</tr>
			
		</table>
	</form>

</div>
<br>
<div>
	<p>{{message}}
	</p>
	
</div>
<div>
	<a href="offres" id="revenir">Revenir à la page d'accueil
	</a>

</div>
</main>