<main>
<h2>Créer une offre : </h2> <br>
<div>
	<form action="creer_offre" method='POST'>
		<table>
			<tr>
				<td><label for="titre">Titre de l'offre : </label></td>
				<td><input type="text" name="titre" id="titre" required></td>
			</tr>
			<tr>
				<td><label for="desc">Description de l'offre : </label></td>
				<td><input type="text" name="desc" id="desc" required></td>
			</tr>
			<tr>
				<td><input type="submit" name="creerOffre" value="Creer une offre" id="input"></td>
			</tr>
			
		</table>
	</form>

</div>
<br>
<div>
	<p>{{message}}
	</p>
	<p>
	{% if offre is defined %}
		{{offre.getTitle}}
		:
		{{offre.getDescription}}
	{% endif %}
	</p>
</div>
<div>
	<a href="offres" id="revenir">Revenir à la page d'accueil
	</a>

</div>
</main>