<main class="d-flex justify-content-center align-items-center vh-50">
        <div class="text-center">
            <p>{{message}}</p>
            <br>
            <div>
                <a href="accueil" id="revenir" class="btn btn-primary">Cliquez ici pour revenir à l'accueil</a>
            </div>
        </div>
    </main>